<div class="container">
  <div class="row section">
    <div class="col-xs-4"><button (click)="turnOn(input, $event)" type="button" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></button></div>
    <div class="col-xs-4"><button (click)="turnOff(input, $event)"  type="button" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></button></div>
    <div class="col-xs-4">
      <div class="btn-group" dropdown keyboardNav="true">
        <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" dropdownToggle>
          {{myInput.name}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
          <li *ngFor="let ipn of inputs"><a (click)="changeInput(ipn)">{{ipn.name}}</a></li>
        </ul>
      </div>
      <a *ngIf="myInput.controls" href="{{myInput.controls}}" target="_blank" class="btn btn-info btn-xs">controls</a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <select [(ngModel)]="selectedVolInterval">
        <option *ngFor="let volInterval of volIntervals" [ngValue]="volInterval">{{volInterval.name}}</option>
      </select>
    </div>
    <div [hidden]="isNotTv()" class="col-xs-4">
      Channels
    </div>
  </div>
  <div class="row up">
    <div class="col-xs-4"><button (click)="upVolume(input, $event)" type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></button></div>
    <div [hidden]="isNotTv()" class="col-xs-4"><button (click)="upChannel(input, $event)" type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></button></div>
  </div>
  <div class="row down">
    <div class="col-xs-4"><button (click)="downVolume(input, $event)" type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button></div>
    <div [hidden]="isNotTv()" class="col-xs-4"><button (click)="downChannel(input, $event)" type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button></div>
  </div>
  <div class="row">
    <div class="col-xs-4"><button (click)="mute(input, $event)" type="button" [class.btn-success]="!muted" [class.btn-danger]="muted" class="btn btn-lg"><span [class.glyphicon-volume-off]="muted" [class.glyphicon-volume-up]="!muted" class="glyphicon" aria-hidden="true"></span></button></div>
  </div>
</div>

<router-outlet></router-outlet>
